.idea

__pycache__/
 *.pyc

venv
!media
media/*

frontend/node_moduless
frontend/dist
frontend/package-lock.json

docker/backend/django.env

docker-compose.yml

django.env
dev.py
.env

/docker/deeplab/detector/mgs_frames_leftright/*
/docker/deeplab/detector/detectors_blackmice_v2/*
/docker/deeplab/detector/face_detector/*
