asgiref~=3.8.1
celery~=5.4.0
channels~=4.1.0
channels-redis~=4.2.0           # install https://visualstudio.microsoft.com/de/visual-cpp-build-tools/
colorama~=0.4.6
daphne~=4.1.2
deeplabcut~=2.3.10
Django~=5.0.5
django-celery-results~=2.5.1
django-cors-headers~=4.3.1
django-dbbackup~=4.1.0
django-debug-toolbar~=4.4.2
django-picklefield~=3.2
django-polymorphic~=3.1.0
django-redis~=5.4.0
djangorestframework~=3.15.1
djangorestframework-simplejwt~=5.3.1
docker~=7.1.0
eventlet~=0.36.1
filetype~=1.2.0
flower~=2.0.1
gunicorn~=22.0.0
hiredis~=2.3.2
loguru~=0.7.2
jsonfield~=3.1.0
pandas
matplotlib~=3.9.0
numpy~=1.26.4
opencv-python~=4.9.0.80
packaging~=24.0
pillow~=10.3.0
pip-review~=1.3.0               # Usage: pip-review --interactive
psycopg2-binary~=2.9.9
pyparsing~=3.1.2
redis~=5.0.1
requests~=2.32.2
ruff~=0.4.5                     # ruff check --fix
scikit-image~=0.23.2
simplejson~=3.19.2
uvicorn~=0.29.0
xlrd~=2.0.1
XlsxWriter~=3.2.0

setuptools~=70.0.0

# CMDS
# pip index versions redis  # list available versions
