.chain-banner {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(214, 196, 30, 0.80);
    color: #000000;
    text-align: center;
    z-index: 10;
}
