.project-Card {
    padding: 0 12px 15px 12px;
    border: white 2px solid;
    border-radius: 5px;
}

.project-Card-Header {
    font-size: 25px;
    padding-bottom: 8px;
    padding-top: 6px;
    border-bottom: white 2px solid;
    color: white;
}

.project-Card-Header-Content {
    color: white;
}

.project-Card-Header-Content:hover{
    color: darkblue;
}

.project-Card-Item {
    font-weight: bold;
}

.project-Card-Content {

}

.huge-icon {
    font-size: 60px;
}

.score-Info-Container {
    display: table;
}

.score-Info {
    display: table-cell;
    vertical-align: bottom;
}
